<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<!-- <head th:include="/fregments/navBar :: head">
	<meta charset="windows-1255"></meta>
	<title id="pageTitle">Login Page</title>
</head>-->
<head>
	<meta charset="windows-1255"></meta>
	<title id="pageTitle">Login Page</title>
</head>
<body>
	<!--<div th:replace="/fregments/navBar :: publicNav">Nav bar fragment</div>-->
	<div class="container">
		<div class="omb_login">
			<h2 class="omb_authTitle">Login or Sign up</h2>

			<!-- Social login -->
			<div class="row omb_row-sm-offset-3 omb_socialButtons">
				<div class="btn-group col-xs-4 col-sm-2">
					<form action="/connect/facebook" method="POST">
						<input type="hidden" name="scope" value="user_posts, email" />
						<button type="submit" class="btn btn-facebook" style="width:183px"> <i class="fa fa-facebook"></i> | Connect with Facebook</button>
					</form>
				</div>

				<div class="col-xs-4 col-sm-2 btn-group">
					<form action="/connect/google" method="POST">
						<input type="hidden" name="scope" value="https://www.googleapis.com/auth/userinfo.email" />
						<button type="submit" class="btn btn-google-plus" style="width:175px"> <i class="fa fa-google"></i> | Connect with Google</button>
					</form>
				</div>
				
				<div class="col-xs-4 col-sm-2 btn-group">
						<form action="/connect/linkedin" method="POST">
							<input type="hidden" name="scope" value="r_basicprofile,r_emailaddress" />
							<button type="submit" class="btn btn-linkedin" style="width:180px"> <i class="fa fa-linkedin"></i> | Connect with LinkedIn</button>
						</form>
				</div>
			</div>

			<div class="row omb_row-sm-offset-3 omb_loginOr">
				<div class="col-xs-12 col-sm-6">
					<hr class="omb_hrOr" />
					<span class="omb_spanOr">or</span>
				</div>
			</div>

			<!-- Local login -->
			<div class="row omb_row-sm-offset-3">
				<div class="col-xs-12 col-sm-6">
					<p th:if="${loginError}" class="error">Wrong user or password</p>
					<form class="omb_loginForm" th:action="@{/login}" autocomplete="off" method="POST">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="text" class="form-control" id="username" name="username" placeholder="Username" />
						</div>
						<span class="help-block"></span>

						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input type="password" class="form-control" id="password" name="password" placeholder="Password" />
						</div>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
					</form>
				</div>
			</div>
			<div class="row omb_row-sm-offset-3">
				<div class="col-xs-12 col-sm-3">
					<label class="checkbox"> <input type="checkbox"
						value="remember-me" />Remember Me
					</label>
				</div>
				<div class="col-xs-12 col-sm-3">
					<p class="omb_forgotPwd">
						<a href="#">Forgot password?</a>
					</p>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
