<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/fregments/navBar :: head">
	<meta charset="windows-1255"></meta>
	<title id="pageTitle">New Product Page</title>
</head>
<body>
	<div th:replace="/fregments/navBar :: userNav">...</div>
	<div class="container" id="tourpackages-carousel">
		<h1>Add New Product</h1>
		<p th:if="${loginError}" class="error">Error</p>
		<div class="col-md-6 row">
			<form th:object="${product}" th:action="@{/products/addNewProduct}" method="post" enctype="multipart/form-data">	
				<div class="form-group">
					<label>Country</label> 
					<input type="text" th:value="#{country}" th:field="*{country}" id="country" name="country" class="form-control"/>
				</div>
				<div class="form-group">
					<label>Image URL</label> 
					<input type="text" th:value="#{imgUrl}" th:field="*{imgUrl}" id="imgUrl" name="imgUrl" class="form-control"/>
				</div>
				<div class="form-group">
					<label>Image URL</label> 
					<input type="file" name="file" />
				</div>
				<div class="form-group">
					<label>Title</label> 
					<input type="text" th:value="#{title}" th:field="*{title}" id="title" name="title" class="form-control"/>
				</div>
				<div class="form-group">
					<label>Description</label> 
					<textarea th:value="#{description}" th:field="*{description}" id="description" name="description" class="form-control"  rows="10" cols="50"></textarea>
				</div>
				<div class="form-group">
					<label>Price</label> 
					<input type="text" th:value="#{price}" th:field="*{price}" id="price" name="price" class="form-control"/>
				</div>
				
				<button type="submit" class="btn btn-md btn-info">Add Product</button>	
			</form>
		</div>
		
		
	</div>
<div  th:replace="/fregments/navBar :: bootstrapScripts"></div>

</body>
</html>